body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px;
}

#app {
    margin-top: 50px;
}

#creditCount {
    font-weight: bold;
    font-size: 18px;
    color: green;
}

button {
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#progressCount {
    font-weight: bold;
    font-size: 18px;
    color: green;
}

button {
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}