body {
    font-family: Arial, sans-serif;
    text-align: center;
}

#app {
    margin: 50px;
}

#coursesList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.courseCard {
    width: 300px;
    margin: 20px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.courseCard h2 {
    margin-bottom: 10px;
}

.courseCard p {
    color: #555;
}
